@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Oleo+Script&family=Roboto&display=swap');

body {
    color: #ECEFF1;
    background-color: #212121;
    font-family: 'Nunito', sans-serif;
}